
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"> 

<style type="text/css">
  body{
    background-image: url(https://i.ytimg.com/vi/9sNQFJAb3Ss/maxresdefault.jpg);
  }

  h2{
    font-family: Staatliches;
  }  
 h1{
  color: grey;
  font-size: 75px;
  text-align: center;
  font-family: Staatliches;
 }
 
  
</style>




<h1 >Welcome to Phoenix Portal</h1>


<% content_for :devise_form do %>
  <h2 class="heading text-4xl font-bold pt-4 mb-8">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="mb-6">
    <%= f.label :login, class:"label" %>
    <%= f.text_field :login, autofocus: true, class: "input" %>
  </div>

  <div class="mb-6">
      <%= f.label :name, class:"label" %>
      <%= f.text_field :name, class:"input" %>
    </div>    


  <div class="mb-6">
    <%= f.label :password, class:"label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
  </div>

  <div class="mb-6 flex">
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, class:"mr-2 leading-tight" %>
      <%= f.label :remember_me, class:"block text-grey-darker" %>
    <% end -%>
  </div>

  <div class="md-6">
    <%= f.submit "Log in", class: "btn btn-default" %>
  </div>

<% end %>

<hr class="border mt-6" />

<%= render "devise/shared/links" %>
<% end %>

<%= render "devise/shared/form_wrap" %>
